<template>
    <v-form v-model="valid">
        <v-container>
            <v-text-field
                    v-model="clientName"
                    :rules="clientNameRules"
                    label="Имя клиента"
                    required
            ></v-text-field>
            <v-text-field
                    v-model="phoneNumber"
                    :rules="phoneNumberRules"
                    label="Номер телефона"
                    required
            ></v-text-field>
            <p>{{ 'План' }}</p>
            <v-radio-group v-model="selectedPlan">
                <v-radio
                        v-for="plan in plans"
                        :key="plan.plan_id"
                        :label="`${plan.name}`"
                        :value="plan"
                >
                </v-radio>
            </v-radio-group>
            <p>{{ 'Первый день доставки' }}</p>
            <v-radio-group v-model="selectedDay">
                <v-radio
                        v-for="day in days"
                        :key="day.day_id"
                        :label="`${day.name}`"
                        :value="day"
                >
                </v-radio>
            </v-radio-group>
            <v-btn
                    :loading="loading"
                    :disabled="!valid || loading"
                    v-on:click="postOrder"
            >
                Оформить заказ
            </v-btn>
        </v-container>
    </v-form>
</template>

<script>
    import axios from "axios";

    export default {
        name: "Order",

        data: () => ({
            valid: false,
            clientName: "",
            clientNameRules: [
                v => !!v || 'Необходимо заполнить',
            ],
            selectedPlan: null,
            plans: [],
            days: [],
            selectedDay: null,
            phoneNumber: "",
            phoneNumberRules: [
                v => !!v || "Необходимо заполнить",
                v => /^7\d{10}$/.test(v) || "Неверный формат",
            ],
            loading: false,
            disabled: false,
        }),

        mounted() {
            this.getPlans();
        },

        methods: {
            async getPlans() {
                axios
                    .get('api/plans')
                    .then(response => {
                        this.plans = response.data.data;
                        this.selectedPlan = this.plans[0];
                    });
            },
            async postOrder() {
                this.loading = true;

                const formData = new FormData();
                formData.append('name', this.clientName);
                formData.append('phone_number', this.phoneNumber);
                formData.append('plan_id', this.selectedPlan.plan_id);
                formData.append('first_day_id', this.selectedDay.day_id);

                await axios
                    .post('/api/orders', formData)
                    .then(() => alert('Успешно'))
                    .catch(() => alert('Что-то не так'))
                    .finally(() => this.loading = false);
            }
        },

        watch: {
            selectedPlan: function () {
                this.days = this.selectedPlan.days;
                this.selectedDay = this.days[0];
            },
            loader: function () {
                this.postOrder();
            }
        }
    }
</script>

<style scoped>

</style>