<template>
  <VApp>
    <VContent>
      <RouterView />
    </VContent>
  </VApp>
</template>

<script>

export default {
  name: 'App',
  components: {
  }
}
</script>

<style>
div#app > div.application--wrap > main.shift-for-header {
  margin-top: 72px!important
}
</style>
